/* Start box */
.d-flex {
    display: flex;
}
.align-center {
    display: flex;
    align-items: center;
}
.justify-align-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
.over-h {
    overflow: hidden;
}
.resize-n {
    resize: none;
}
.fg-1 {
    flex-grow: 1;
}
.hide-mobile{
    display: none;
}
/* End box */
/* Start padding + margin */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.m-50px {
    margin: 50px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-25 {
    margin-top: 25px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mr-10 {
    margin-right: 10px;
}
/* End padding + margin */
/* Start Font */
.fs-12 {
    font-size: 12.3333px
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-h3 {
    font-size: 22.5px;
}
.fs-26 {
    font-size: 26px;
}
.txt-center {
    text-align: center;
}
.f-normal {
    line-height: normal;
}
.f-arial {
    font-family: Arial, Helvetica, sans-serif;
}
.f-mono {
    font-family: monospace;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.line-t {
    text-decoration: line-through;
}
/* End Font */
/* Start color */
.bg-white {
    background-color: white;
}
.bg-white-smoke {
    background-color: #f1f5f9;
}
.bg-eee {
    background-color: #eeeeee;
}
.bg-blue {
    background-color: #0075ff;
}
.bg-orange {
    background-color: #f59e0b;
}
.bg-green {
    background-color: #22c55e;
}
.c-blue {
    color: #0075ff;
}
.c-orange {
    color: #f59e0b;
} 
.c-green {
    color: #22c55e;
} 
.c-red {
    color: #f44336;
}
.c-black {
    color: black;
}
.c-grey {
    color: #888888;
}
.c-white {
    color: white;
}
.opacity-50 {
    opacity: 50%;
}
/* End color */
/* Start position */
.p-relative {
    position: relative;
}
.p-absoulte {
    position: absolute;
}
/* End position */
/* Start border */
.b-none {
    border: none;
}
.bb-grey {
    border-bottom: 1px solid #eee;
}
.outline-n {
    outline: none;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-50-percentage {
    border-radius: 50%;
}
/* ENd border */
/* Start width and height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* End width and height */
/* Start button */
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 15px 15px auto;
    font-weight: 500;
    transition: .3s;
}

/* End button */
