/* Start Varivables */
:root {
    --main-color: ;
}
/* End Varivables */
/* Start global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* End global Rules */
/* Start Components */
/* End Components */
/* Start sidebar */
.sidebar {
    min-height: 100vh;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    position: relative;
    line-height: normal;
    margin-bottom: 50px;
    letter-spacing: -.5px;
}

.sidebar > h3::before,
.sidebar > h3::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.sidebar > h3::before{
    width: calc(100% - 100px);
    height: 2px;
    bottom: -22px;
}

.sidebar > h3::after {
    bottom: -31px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
}

.sidebar a {
    display: block;
    color: black;
    transition: .2s;
    margin-bottom: 5px;
    width: 174px;
    font-size: 14px;
}

.sidebar a:hover,
.sidebar .active
{
    background-color: #f6f6f6;
}

.sidebar a i {
    margin-right: 10px;
}
@media (max-width: 767px){
    .sidebar {
        padding: 10px;
    }
    .sidebar > h3 {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 13px; 
        letter-spacing: 0;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
    .sidebar span {
        display: none;
    }

    .sidebar a {
        width: fit-content;
    }
    .sidebar a i {
        margin-right: 0;
    }
}
/* End sidebar */
/* Start header */
.header img {
    width: 32px;
}
/* End header */